<div id="edit-modal" class="modal">
  <div class="modal-content animate">
    <div class="modal-header">
      <div class="modal-header-body">
        <div class="">
          <div class="">
            <p>NOTE</p>
            <h2 id="modal-title">New Item...</h2>
            <p><span id="modal-word-count">4205 words</span>&nbsp;&nbsp;&bull;&nbsp;&nbsp;<span id="modal-read-time">3 min read</span></p>
          </div>
          <div class="">
            <button id="save-btn">&#x29BB; save</button>
            <button id="star-btn"><img src="/images/star-border.svg"> star</button>
            <button id="delete-btn"><img src="/images/delete.svg"> delete</button>
          </div>
        </div>
        <p id="modal-update-info">Saved 2 days ago</p>
      </div>
    </div>
    <div class="modal-body">
      <div class="modal-editor" contenteditable="true" spellcheck="false" draggable="false" ondrop="return false;">

      </div>
      <div class="modal-editor-modifiers">
        <button value="p" title="style paragraph (P)"><img src="/images/edit-p.svg" alt=""></button>
        <hr>
        <button value="h2" title="style header (H2)"><img src="/images/edit-h2.svg" alt=""></button>
        <hr>
        <button value="ul" title="style checklist (UL)"><img src="/images/edit-ul.svg" alt=""></button>
      </div>
      <div class="modal-editor-info">
        <span id="modal-editor-created">Created: 25 March 2018 23:58</span>
        &nbsp;&nbsp;&bull;&nbsp;&nbsp;
        <span id="modal-editor-updated">Last Updated: 2 days ago</span>
      </div>
    </div>
  </div>
</div>
