<header>
  <nav>
    <!-- <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      <li><a href="/profile">Profile</a></li>
    </ul> -->
    <a href="/">Home</a>
    <div class="nav-right">
      <% if (5 < 3) { %>
        <a href="/keep">My Keep</a>
        <a href="/auth/signout"></a>
        <!-- <a href="/" title="Used for deleting the user and signing out">Avatar modal icon</a> -->
      <% } else { %>
        <a href="#">Sign In / Sign Up</a>
      <% } %>
    </div>
  </nav>
</header>
