<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>My Keep</title>
  <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="../app.css">
</head>
<body>
  <header>
    <nav>
      <input type="text" name="" value="" placeholder="Search">
      <div class="">
        <a href="#" id="new-item-btn">New Item</a>
        <a href="#"><img src="/images/avatar.svg" alt=""></a>
      </div>
    </nav>
  </header>
  <!-- <a href="/">Home</a> -->
  <div class="body-container">
    <ul class="list-ul">
      <% if (user.userDocuments.length > 0) { %>
        <% for (var i = 0; i < user.userDocuments.length; i++) { %>
          <li data-id="<%= user.userDocuments[i]._id %>">
            <p><%= user.userDocuments[i].noteBody.replace(/<(\/)?[a-zA-Z0-9\s"=-]+>/g, " ").substr(0,65) %>...</p>
            <p><%= user.userDocuments[i].updated %></p>
          </li>
        <% } %>
      <% } %>
    </ul>
    <% if (user.userDocuments.length == 0) { %>
      <p class="no-notes-message">You aint got no notes!</p>
    <% } %>
  </div>

  <% include partials/avatar-modal %>
  <% include partials/edit-modal %>
  <script type="text/javascript" src="../ajax.js"></script>
  <script type="text/javascript" src="../main.js"></script>
  <script>
    var editing = false;
    window.addEventListener("beforeunload", function (event) {
      if (document.getElementById('edit-modal').style.display == "block" && editing == true) {
        event.returnValue = "cool";
        console.log('cool');
      }
    });
  </script>
</body>
</html>
